<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New  Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

</head>


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs hidden-sm">
            <p class="navbar-text  navbar-left navbar-master-left">
                <a href="../website/website-list.html" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>

            <div class="navbar-text navbar-header-font">
                Pages
            </div>

            <p class="navbar-text pull-right navbar-right">
                <a href="page-new.html" class="navbar-link">
             <span class="glyphicon glyphicon-plus">
              </span>
                </a>
            </p>
        </div>

        <div class="col-sm-12 col-lg-8 col-md-8 col-xs-12">
            <p class="navbar-text  navbar-left hidden-md hidden-lg">
                <a href="page-list.html" class="navbar-link navbar-detail-left">
                 <span class="glyphicon glyphicon-chevron-left">
                 </span>
                </a>
            </p>


            <div class="navbar-text navbar-header-font ">
                New Page
            </div>

            <p class="navbar-text pull-right navbar-right">
                <a href="page-list.html" class="navbar-link">
                 <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-4 col-sm-4 visible-lg-block visible-md-block master-page">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="../widget/widget-list.html" class="navbar-link">
                        Blog Post
                    </a>
                    <a href="page-edit.html">
                <span class="glyphicon glyphicon-cog pull-right">
                </span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="../widget/widget-list.html" class="navbar-link">
                        Blogs
                    </a>
                    <a href="page-edit.html">
                <span class="glyphicon glyphicon-cog pull-right">
                </span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="../widget/widget-list.html" class="navbar-link">
                        Home
                    </a>
                    <a href="page-edit.html">
                <span class="glyphicon glyphicon-cog pull-right">
                </span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="../widget/widget-list.html" class="navbar-link">
                        About
                    </a>
                    <a href="page-edit.html">
                <span class="glyphicon glyphicon-cog pull-right">
                </span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="../widget/widget-list.html" class="navbar-link">
                        Contact Us
                    </a>
                    <a href="page-edit.html">
                <span class="glyphicon glyphicon-cog pull-right">
                </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 visible-xs-block visible-sm-block visible-md-block
        visible-lg-block detail-page">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Page Name">
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" rows="10" id="title"
                              placeholder="Page Title"></input>
                </div>
            </form>
        </div>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row navbar-text navbar-right pull-right">
                <a class="profile-link" href="../user/profile.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
</body>
</html>
