
body {
    padding-top: 36px;
    height: 100%;
    min-height: 100%
}

html {
    height: 100%;
}

input.form-control {
    margin-bottom: 5px;
}

.mainView{
    height:100%;
}

.container-fluid{
    height:100%;
}

.row-fluid{
    height:96%;
}

.form-group{
    margin-top: 15px;
}

.container-fluid-custom-margin{
    margin-top:20px;
}

.navbar-text {
margin-left: 5px;
}

.navbar-default .navbar-text{
    color:white;
    float: left;
    margin-right: 15px;
}


.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-link {
    color: white;
}

.navbar-right {
    margin-right: 10px;
}

.navbar-brand {
    padding: 15px 0px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

a {
    color: cornflowerblue;
}


a:focus, a:hover{
    text-decoration: none;
}


.list-group{
    margin-top: 5px;
}

.list-group-item{
    border: none;
}

.list-group-item:first-child{
    padding-top:20px ;
}

.list-group-item:last-child {
    margin-bottom: 50px;
}

.place-inline{
    display: inline;
}

.relative-position {
    position: relative;
}
.absolute-position {
    position: absolute;
}
.list-element-menu {
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
}
.zero-right-padding {
    padding-right: 0px;
}

.list-left-element{
    width: 100%;
    display: inline-block;
}

.list-right-element{
    width: 40px;
    float: right;
    height: 20px;
    z-index: 40;
    top: 10px;
    position: absolute;
    display: block;
    right: 15px;
    background: white;
    margin-right: 1px;
}

.list-right-element1{ top:10px !important}

.list-image{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

.list-frames{
    width:100%;
}


#image-container {
    background: url("../image/zika.jpg") no-repeat;
    width: 100%;
    height: 100%;
    border: 1px solid;
    background-size:contain;
}

.profile-link{
    color:white;
}

.navbar-header-font{
    font-size:15px !important;
}

.navbar-master-left{
    margin-left: 25px;
}

.navbar-detail-left{
    margin-left: 10px;
}

.navbar-list-left{
    margin-left: 5px;
}

.master-page
{
    float: left;
    margin-top: 15px;
    border-right: 1px solid #cccccc;
    height: inherit;

}

.detail-page{
    float: left;
    margin-top: 20px;
}


.widget-list{
    margin-top: 20px !important;
}

.list-group-item-last-child{
    padding-bottom: 50px!important;
}

.widget-list-icon {
    margin-left: 5px;
    color: black;
}

b { color: #84c0f5 !important;  }

.alert-warning {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #faebcc;
    margin-top: 20px;
}

.close {
    color: black !important;
    opacity: 0.7;
}