<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text  navbar-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="navbar-link">
         <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </p>

        <a class="navbar-brand">
            Widget Edit
        </a>
        <p class="navbar-text pull-right navbar-right">
            <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
         <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </p>
    </div>
</nav>


<div class="container-fluid container-fluid-custom-margin">

    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="text">
        </div>
        <div class="form-group">
            <label for="row">Rows</label>
            <input ng-model="model.widget.rows" type="number" class="form-control" id="row" placeholder="Enter Row">
        </div>

        <div class="form-group">
            <label for="placeholder">Placeholder</label>
            <input ng-model="model.widget.placeholder" type="text" class="form-control" id="placeholder"
                   placeholder="Place Holder">
        </div>

        <!--<div class="form-group">
            <label for="formatted">Formatted</label>
            <input ng-model="model.widget.formatted" type="checkbox" class="form-control" id="formatted">
        </div>-->

        <div class="checkbox">
            <label><input ng-model="model.widget.formatted" type="checkbox" value="">Formatted</label>
        </div>
    </form>

    <a class="btn btn-danger btn-block" ng-click="model.widget.widgetType='TEXT';model.createWidget(model.widget)
    ">Create</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text navbar-right pull-right">
            <a class="profile-link" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>

</nav>
