<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text  navbar-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
         <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </p>

        <a class="navbar-text navbar-link" href="#">
            Choose Widget
        </a>

    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="widget in model.widgetTypes" class="list-group-item">
            <a ng-click="model.setWidgetCreateFlag(widget)"
               class="navbar-link">
                {{widget.text}}
            </a>
        </li>



        <!--<li class="list-group-item">
            <a href="widget-heading.view.client.html" class="navbar-link">
                Label
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-heading.view.client.html" class="navbar-link">
            HTML
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-heading.view.client.html" class="navbar-link">
                Text Input
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-heading.view.client.html" class="navbar-link">
                Link
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-heading.view.client.html" class="navbar-link">
                Button
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-image.view.client.html" class="navbar-link">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-youtube.view.client.html" class="navbar-link">
                Youtube
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-heading.view.client.html" class="navbar-link">
                DataTable
            </a>
        </li>
        <li class="list-group-item">
            <a href="widget-heading.view.client.html" class="navbar-link">
                Repeater
            </a>
        </li>-->
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text navbar-right pull-right">
            <a class="profile-link" href="../user/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>

</nav>
