<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text  navbar-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
         <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </p>

        <a class="navbar-brand">
            Choose Widgets
        </a>

    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="widget in model.widgetTypes" class="list-group-item">
            <a ng-click="model.setWidgetCreateFlag(widget)"
               class="navbar-link">
                {{widget.text}}
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text navbar-right pull-right">
            <a class="profile-link" href="#/user">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>

</nav>
