<div class="container-fluid">
    <div ng-switch on="model.widgetMetaData.widgetType">
        <div ng-switch-when="YOUTUBE">
            <div ng-include="'views/widget/widget-youtube-new.view.client.html'"></div>
        </div>
        <div ng-switch-when="HEADER">
            <div ng-include="'views/widget/widget-heading-new.view.client.html'"></div>
        </div>
        <div ng-switch-when="IMAGE">
            <div ng-include="'views/widget/widget-image-new.view.client.html'"></div>
        </div>
        <div ng-switch-when="HTML">
            <div ng-include="'views/widget/widget-html-new.view.client.html'"></div>
        </div>
        <div ng-switch-when="TEXT">
            <div ng-include="'views/widget/widget-text-new.view.client.html'"></div>
        </div>
    </div>
</div>