<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget Heading</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text  navbar-left">
            <a href="widget-list.html" class="navbar-link">
         <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </p>

        <a class="navbar-text navbar-link" href="#">
            Widget Edit
        </a>
        <p class="navbar-text pull-right navbar-right">
            <a href="widget-list.html" class="navbar-link">
         <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </p>
    </div>
</nav>


<div class="container-fluid container-fluid-custom-margin">

    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" value ="">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" id="text" value = "US Senate Reaches Compromise Security on Emergency" placeholder="US Senate Reaches Compromise Security">
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <input type="text" class="form-control" id="size" placeholder="3" value = "3">
        </div>
    </form>

    <a class="btn btn-danger btn-block"
       href="#">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text navbar-right pull-right">
            <a class="profile-link" href="../user/profile.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>

</nav>

</body>
</html>
