<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Widgets</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text  navbar-left">
            <a href="../page/page-list.html" class="navbar-link navbar-list-left">
         <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </p>

        <div class="navbar-text navbar-header-font">
            Widgets
        </div>

        <p class="navbar-text pull-right navbar-right">
            <a href="widget-chooser.html" class="navbar-link">
         <span class="glyphicon glyphicon-plus">
          </span>
            </a>
        </p>
    </div>
</nav>


<div class="container-fluid">
    <!-- <h1>Page List</h1>-->

    <ul class="list-group widget-list">
        <li class="list-group-item">
            <div class="list-left-element">
                <h1 class="place-inline">GIZMODDO</h1>
            </div>
            <div class="list-right-element list-right-element1">
                <a href="widget-heading.html" class="navbar-link">
                    <span class="glyphicon glyphicon-list pull-right widget-list-icon">
                    </span>
                </a>
                <a href="widget-heading.html" class="navbar-link">
                    <span class="glyphicon glyphicon-cog pull-right ">
                    </span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
                <div class="list-left-element">
                <label class="place-inline">US Senate Reached Compromise on Emergency Zika Funding</label>
                </div>
            <div class="list-right-element">
                <a href="widget-heading.html" class="navbar-link">
                    <span class="glyphicon glyphicon-list pull-right widget-list-icon">
                    </span>
                </a>
                <a href="widget-heading.html"  class="navbar-link">
                    <span class="glyphicon glyphicon-cog pull-right ">
                    </span>
                </a>
            </div>
        </li>
        <li class="list-group-item">

                <div class="list-left-element">
                <img src="../../image/zika1.jpg" class="place-inline list-image"></img>
                </div>
            <div class="list-right-element">
                <a href="widget-image.html" class="navbar-link">
                    <span class="glyphicon glyphicon-list pull-right widget-list-icon">
                    </span>
                </a>
                <a href="widget-image.html" class="navbar-link">
                    <span class="glyphicon glyphicon-cog pull-right ">
                    </span>
                </a>
            </div>

        </li>
        <li class="list-group-item">
            <div class = "list-left-element">
                <p class="place-inline">In February, the <b> White House formally asks Congress for $1.8 billion dollars</b>
                to help combat the Zika virus this summer. Now, the Senate has worked out a bipartisan deal which will allocate $1.1 billion
                in emergency funding.</p>
                </div>
            <div class="list-right-element">
                <a href="widget-heading.html"  class="navbar-link">
                    <span class="glyphicon glyphicon-list pull-right widget-list-icon">
                    </span>
                </a>
                <a href="widget-heading.html"  class="navbar-link">
                    <span class="glyphicon glyphicon-cog pull-right">
                    </span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <div class="list-left-element">
                <label class="place-inline">Man in Wingsuit Flies Straight Through a Ring of Fire</label>
                </div>
            <div class="list-right-element">
                <a  href="widget-heading.html" class="navbar-link">
                    <span class="glyphicon glyphicon-list pull-right widget-list-icon">
                    </span>
                </a>
                <a href="widget-heading.html"  class="navbar-link">
                    <span class="glyphicon glyphicon-cog pull-right">
                    </span>
                </a>
            </div>
        </li>
        <li class="list-group-item">
            <div class="list-left-element">
                    <iframe class="place-inline list-frames"
                            src="https://www.youtube.com/embed/uLWLashCXHE">
                </iframe>
                </div>
            <div class="list-right-element">
                <a href="widget-youtube.html" class="navbar-link">
                    <span class="glyphicon glyphicon-list pull-right widget-list-icon">
                    </span>
                </a>
                <a href="widget-youtube.html" class="navbar-link">
                    <span class="glyphicon glyphicon-cog pull-right">
                    </span>
                </a>
            </div>
        </li>
        <li class="list-group-item list-group-item-last-child">
            <div class = "list-left-element">
                <p class="place-inline">Flying in a wingsuit? That`s just not enough anymore. Anyone could do that (I would never do that). You have to mek it more extreme, like by hitting a target while you`re cutting through the air at crazy speeds. Or by making that target a small ring that you have to somehow fly through. Or by lighting that ring on fire. Or by...
                    actually, that should be extreme enough for now.</p>
            </div>
            <div class="list-right-element">
                <a href="widget-heading.html"  class="navbar-link">
                    <span class="glyphicon glyphicon-list pull-right widget-list-icon">
                    </span>
                </a>
                <a href="widget-heading.html"  class="navbar-link">
                    <span class="glyphicon glyphicon-cog pull-right">
                    </span>
                </a>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text navbar-right pull-right">
            <a class="profile-link" href="../user/profile.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>

</nav>

</body>
</html>
